body{
  height:auto;
  margin:0;
}

#ocean{
  position:absolute;
  width:100%;
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(.2, rgb(0,0,0)),
  color-stop(.3, rgb(0,0,0)),
  color-stop(.4, rgb(255,255,255))
  );
}

.wave{
  background:#000000;
  display:inline-block;
  height:20%;
  width:10px;
  position:absolute;
  -webkit-animation-name:             dostuff;
  -webkit-animation-duration:         5s;
  -webkit-animation-iteration-count:  infinite;
  -webkit-transition-timing-function: ease-in-out;

  /* Enable hardware acceleration to fix laggy transitions */
-webkit-transform: translateZ(0);
-moz-transform: translateZ(0);
-ms-transform: translateZ(0);
-o-transform: translateZ(0);
transform: translateZ(0);
}


@-webkit-keyframes dostuff{
  0%{
    height:65%;
  }
  50%{
    height:35%;
  }
  100%{
    height:65%;
  }
}

