html {
  background-color: #000000;
}

@font-face {
  font-family: 'SamsungSharp';
  src: url('./fonts/SamsungSharpSansRg.ttf')  format('truetype') /* Safari, Android, iOS */
}

.digitalClock {
	height: 330px;
	font-size: 330px;
	color: white;
	font-family:"SamsungSharp", Fallback, sans-serif;
	display: inline-block;
	margin-left: 0.1em; 
}

.digitalHour {
	font-size: 100%;
	display: inline-block;
}

.digitalMinute {
	font-size: 50%;
	display: inline-block;
	vertical-align: text-top;
}

.digitalPostM {
	font-size: 15%;
	display: inline-block;
	vertical-align: text-top;
}

.digitalSecond {
	font-size: 25%;
	display: inline-block;
	vertical-align: text-top;
}

.circle {
  width: 240px;
  height: 240px;
  position: relative;
  border: 12px solid #fff;
  border-radius: 50%;
  background-size: 240px 240px;
  background-repeat: no-repeat;
  display: inline-block;
}

.face {
  width: 100%;
  height: 100%;
}

.face:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  margin: -6px 0 0 -6px;
  background: #fff;
  border-radius: 6px;
  content: "";
  display: block;
}


.hour {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -4px 0 -4px -25%;
  padding: 4px 0 4px 25%;
  background: #fff;
  transform-origin: 100% 50%;
}

.minute {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40% -3px 0;
  padding: 40% 3px 0;
  background: #fff;
  transform-origin: 50% 100%;
}

.second {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40% -1px 0 0;
  padding: 40% 1px 0;
  background: #fff;
  transform-origin: 50% 100%;
}
